@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SupplyMono';
  src: url('../fonts/SupplyMono/Supply-Regular.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-Regular.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-Medium.ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-Bold.ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-ExtraBold.ttf');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-Black.ttf');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik';
  src: url('../fonts/Graphik/Graphik-Regular.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Graphik';
  src: url('../fonts/Graphik/Graphik-Medium.ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Graphik';
  src: url('../fonts/Graphik/Graphik-Semibold.ttf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Graphik';
  src: url('../fonts/Graphik/Graphik-Bold.ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --main-background: #fff;
  --main-text: #666666;
  --main-font: 'Inter';
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: var(--main-text);
  background: var(--main-background);
  font-family: var(--main-font);
  font-weight: normal;
  font-smooth: always;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply text-[16px] leading-[24px];
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.menu-content-wrapper {
  @apply transition duration-300 opacity-0 pointer-events-none;
}

.menu-content-wrapper-enter-done {
  @apply opacity-100 pointer-events-auto;
}

.slick-dots li button:before {
  display: none;
}
.slick-dots {
  @apply !bottom-[-20px] md:!bottom-[-30px];
}
.slick-dots li {
  @apply !h-[14px] !w-[14px] !mx-[2px] md:!mx-4 !my-0;
}
.slick-dots li button {
  height: 100% !important;
  width: 100% !important;
  opacity: 1;
  border-radius: 100%;
  padding: 0 !important;
  border: 1.5px solid #c3c3c3 !important;
  transition: 0.3s ease;
}

.slick-dots li.slick-active button {
  @apply !bg-blue-pacific !opacity-100 !border-blue-pacific;
}

.insight-detail img,
.insight-detail video {
  display: inline-block !important;
}

.google-map-iframe {
  width: 100%;
  height: 418px;
}

.contact-us-form-container {
  @apply flex flex-col gap-12 text-[1.25rem] leading-[1.75rem];
}
.contact-us-input {
  @apply font-inter text-[1rem] leading-[1.25rem] outline-none py-20 border-b border-gray-cloud focus:border-b-2;
}
.contact-us-input.error {
  @apply border-red border-b-2 placeholder-red;
}
.error-text {
  @apply text-red;
}

.careers-image-table {
  border-spacing: 1rem 0.875rem;
}

.career-swiper .swiper-slide:not(.career-image-active) {
  height: 218px !important;
}
.career-image-active {
  height: 294px !important;
}
.career-swiper .swiper-wrapper {
  align-items: center;
  min-height: 294px;
}
.career-swiper .swiper {
  @apply mobile-min:w-[140%] mobile-min:-ml-[20%] w-[170%] -ml-[35%]
}

.section-padding {
  @apply px-32 py-24 md:px-64 md:py-50 lg:px-120 lg:py-100;
}
.section-info-p {
  @apply font-normal text-sm md:text-base lg:text-18 lg:leading-[1.75rem] text-justify;
}
